.ui-icon-ceciic-tweet {
	background-image: url("images/twitter.gif");
}

.ui-icon-ceciic-facebook {
	background-image: url("images/facebook.gif");
}


.ui-icon-ceciic-login {
	background-image: url("images/login.png");
}

.ui-icon-ceciic-logout {
	background-image: url("images/logout.png");
}

.ui-icon-ceciic-boy {
	background-image: url("images/boy.png");
}

.ui-icon-ceciic-bible {
	background-image: url("images/bible.png");
}