<?xml version="1.0" encoding="UTF-8"?>
<!-- 
		============ cycle-agnostic jobManager spring context============
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
    			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">	
	<context:component-scan base-package="com.vangent.tap.app.batch.jmx" />
    
    <context:mbean-export/>

    <bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean"
          p:port="1099" />
    
    <!-- Expose JMX over RMI -->
    <bean id="serverConnector" class="org.springframework.jmx.support.ConnectorServerFactoryBean"
          p:objectName="connector:name=rmi"
          p:serviceUrl="service:jmx:rmi://localhost/jndi/rmi://localhost:1099/myconnector" />

    <!-- Client connector to JMX over RMI -->
    <bean id="clientConnector" class="org.springframework.jmx.support.MBeanServerConnectionFactoryBean"
          p:serviceUrl="service:jmx:rmi://localhost/jndi/rmi://localhost:1099/myconnector" />

    <!-- Client ServerManager proxy to JMX over RMI -->
    <bean id="serverManagerProxy" class="org.springframework.jmx.access.MBeanProxyFactoryBean"
          p:objectName="com.vangent.tap.app.batch.jmx:name=ScheduleManager"
          p:proxyInterface="com.vangent.tap.app.batch.jmx.ScheduleManager"
          p:server-ref="clientConnector" />
	
	<bean id="jobScheduleConfigurer" class="com.vangent.tap.app.batch.jmx.BeanPropertyOverrideConfigurer">
		<property name="location" ref="jobSchedulePropertyLocation"/>
	</bean>
	
	<bean id="jobSchedulePropertyLocation" class="org.springframework.core.io.UrlResource" >
		 <constructor-arg type="java.lang.String" value="file:/C:/apps/hesc/tap/jobManager/cycle11/reloadable.properties" />
	</bean>
</beans>	